<%- include("partials/header"); %> 
<div class="container-fluid">
<h1>Intersting Blogs...</h1>

<% blogs.forEach(blog => { %>
    <div class="post">
        <p class="time"><%= blog.day %> </p>
        <h3><a class="post-link" href="/posts/<%= blog._id %>"><%= blog.title %></a> </h3>
        <%if(blog.content){ %>
        <p><%= truncate(blog.content); %>
           <% if(truncate(blog.content).length > 1000){ %> 
            <a href="/posts/<%= blog._id %>">Read more</a>
            <% } %>
        <%   } %>
        </p> 
            <img src=<%= blog.image %> class="rounded mx-auto d-block img-fluid" alt="img">
    </div>
<% }); %> 
</div>

<%function truncate(str) { %>
    <% if (str.length > 1000){ %>
       <% return str.substring(0,1000) + '...'; %>
    <%} else{ %>
       <% return str; %>
    <% } %> 
 <% } %>
<%- include("partials/footer"); %> 

