<%- include("partials/header") %> 
<div class="post">
<h1><%= heading %> </h1>
<p><%= paragraph %> </p>

<img src=<%= image %> class="rounded mx-auto d-block" alt="img">
</div>
<%- include("partials/footer") %>

