<%- include("partials/header") %> 
<div class="container-fluid">
<div class="post">
<h1><%= heading %> </h1>
<p><%= paragraph %> </p>

<img src=<%= image %> class="rounded mx-auto d-block img-fluid" alt="img">
</div>
</div>


<%- include("partials/footer") %>

